@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* .main-container {
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
   background-color: cadetblue;
} */
.main-container {
   display: flex;
   padding: 20px;
   justify-content: space-between;
   font-family: 'Poppins', sans-serif;
   background-color: cadetblue;
   color: white;
   position: sticky;
   top: 0;
   border: 1px solid black;
}


.navlogo {
   display: flex;

}

.navlogo img {
   height: 50px;
   width: 50px;
   border: 2px solid black;
   border-radius: 100px;
}

.navlogo p {
   font-weight: 600;
   margin-left: 10px;
}

.btn-fb {
   padding: 5px;
   font-weight: 600;
   background-color: transparent;
   border: none;
   color: yellow;
   font-family: 'Poppins', sans-serif;
}

.btn-fb:hover {
   background-color: blue;
   color: white;
   border-radius: 10s0px;
}



.contact-ds {
   display: flex;
   margin-left: 550px;
   font-weight: 650;
   color: white;
}

.contact-ds button {
   margin-left: 10px;
}